.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav {
  margin-bottom: 10px;
}

.stats .summary {
  margin-left: 0;
  padding-left: 0;
}

.stats .summary:after {
  clear: left;
  content: "";
  display: table;
}

.stats .summary li {
  float: left;
  list-style: none;
  margin-right: 1em;
}

.stats .summary ins {
  color: red;
  text-decoration: none;
}

.stats .summary del {
  color: green;
  text-decoration: none;
}

.stats .breakdown .row {
  margin-bottom: .5em;
}

.stats .breakdown .bar {
  color: white;
  background-color: red;
  padding: .1em .5em;
  min-width: 3em;
  border-radius: .5em;
}

.suggestions .list-group-item .breadcrumb {
  margin-bottom: 10px;
}
